body{
    background-color: pink;
    text-align: center;
}
div{
    background-color: powderblue;
    border: 20px dashed purple;
    border: radius 100px; 
    width: 500px; 
    margin-left: 480px;
}